<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="DevelURL" value="https://development.jccap.org/website/" />  
    <add key="URLRoot" value="http://development.jccap.org/" />
    <add key="ServerRoot" value="C:\\inetpub\\wwwroot\\website\\" />
    <add key="UploadFolder" value="C:\inetpub\wwwroot\website\uploads\" />
    <add key="JobDescRoot" value="https://www.jccap.org/Job_Descriptions/" />
    <add key="ImageRoot" value="http://development.jccap.org/website/" />
    <add key="NewsletterRoot" value="http://development.jccap.org/website/newsletters/" />
  </appSettings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="110" maxRequestLength="20000" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="email.cai.local" port="25" userName="smtpadmin" password="8raMAswU" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="Intranet" connectionString="Server=web; Database=Intranet; User Id=caiguest; password=w3!A$rasU; max pool size=300; pooling=false" providerName="System.Data.SqlClient" />
    <add name="CAI" connectionString="Server=development\sqlexpress; Database=WEBSITE; User Id=cai_website; password=zYJQO0vx; max pool size=300; pooling=false" providerName="System.Data.SqlClient" />
    <add name="JOB" connectionString="Server=development\sqlexpress; Database=JOB_ANNOUNCEMENT; User Id=cai_website; password=zYJQO0vx; max pool size=300; pooling=false" providerName="System.Data.SqlClient" />
    <add name="NRS" connectionString="Server=development\sqlexpress; Database=NEWS_RELEASE; User Id=cai_website; password=zYJQO0vx; max pool size=300; pooling=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>